# Virtual Environment
.venv/
venv/
env/
ENV/

# Secrets
.env
*.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

start.bat
main-v1.py
main-v2.py
main-v3.py
normal-xtall.txt

.replit